alembic
cachelib
click
coverage
dnspython
dominate
email-validator
Flask
Flask-Bootstrap
Flask-Login
Flask-Migrate
Flask-Session
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pip
setuptools
SQLAlchemy
typing_extensions
visitor
Werkzeug
wheel
WTForms
zipp
